.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: center;
    color: black;
    i {
        font-size: 40px;
        color: rgb(0, 226, 149);
        transition: color .3s ease;
        &:hover {
            color: black
        }
    }

}
