$theme-colors: (
    "warning": #00e295,
    "danger": teal
);

@import './../node_modules/bootstrap/scss/functions';
@import './../node_modules/bootstrap/scss/variables';
@import './styles/colors';
@import './../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/header';
@import './styles/cards';
@import './styles/content';
@import './styles/infoBlock';
@import './styles/numbers';
@import './styles/qrBlock';

body{
    // background-color: #191923;
}

i:hover{
    cursor: pointer;
}

.btn-customColor{
    background-color: #00e295;
    border-color: #000000;
    border: 1px solid;

    &:hover{
        border: 2px solid #00e295;
        background-color: rgb(44, 44, 44);
        color: #00e295;
    }
}

.btn-outline-customColor{
    border: 2px solid #00e295;

    &:hover{
        border: 2px solid #000000;
        background-color: #00e295;
    }
}

.bg-customColor{
    background-color: #00e295;
}


.footer {
    background-color: #00e295;
    color: white;
    height: 10vh;
    margin-bottom: 5vh;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    
    .footer-email{
        margin-bottom: 0; 
        color: rgb(122, 122, 122); 
        display: flex;
        transition: color .3s ease;
        &:hover{
            cursor: pointer;
            color: white;
        }
    }
}

.slick-slide{
    height: 200px;
}

.slick-dots li.slick-active button:before{
    color: white;
}

.slick-dots li button:before{
    color: white;
}

.jumbotron__main{
    border-top: 3px solid #00e295;
    color: black; 
    background-color: white; 
    margin-bottom: 0px;
}